.section-b2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://c.wallhere.com/photos/35/de/Minecraft_ComplementaryShaders_v4_7_1_village-2248578.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedor-b2 {
    width: 90%; 
    max-width: 1200px; 
    height: 95%; 
    border: 1px solid white;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}

.img1-b2{
    background-image: url("https://assets.minecraftexperience.com/uploads/2024/05/Golem.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 1/2;
    grid-row: 1/2;
}

.img2-b2{
    background-image: url("https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_1.5/c_scale,w_300/Microsites/minecraft-switch/zombie");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
    grid-row: 1/2;

    width: 70%; 
    height: 70%; 
    margin: auto; 
}



@media (max-width: 768px) {
    .contenedor-b2 {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
        grid-template-rows: auto; /* Ajusta las filas automáticamente */
        height: auto; /* Deja que el contenido determine la altura */
    }
}
