.section-I1 {
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://c.wallhere.com/photos/f6/aa/Minecraft_CGI_Shader_ray_tracing_Nvidia_RTX-2280584.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}



.titulo-I1 {
    font-size: 5vw; 
    color: white;
    font-family: "Shadows Into Light", serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.titulo2-I1 {
    font-size: 4vw; 
    color: white;
    font-family: "Shadows Into Light", serif;

    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .titulo-I1 {
        font-size: 8vw; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }

    .titulo2-I1 {
        font-size: 6vw; /* Reduce proporcionalmente el tamaño del subtítulo */
    }
}


