.bioma1{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    background-image: url("https://c.wallhere.com/photos/b9/29/Minecraft_video_games_morning_mountain_top_grass_sunlight-2246050.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    
}

.contenedor {
    width: 100%;
    max-width: 10rem;
    height: 35rem;
    align-self: center;
    justify-self: center;

    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid rgb(135, 190, 71);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;

    overflow-y: auto; /* Habilita el scroll vertical */
}

.contenedor::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
}

.contenedor div {
    width: 6rem;
    height: 5rem;
    border: 1px solid rgb(255, 183, 49);
    border-radius: 1rem;
    
    flex-shrink: 0; /* Previene que los divs se reduzcan con el scroll */
}

.contenedor div .img-b1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 1rem;
}

.contenedor2 {
    width: 100%;
    max-width: 50rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    justify-self: center;

    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid rgb(135, 190, 71);
    border-radius: 1rem;

}

.contenedor2 h1{
    font-size: 3.5rem;
    font-family: "Shadows Into Light", serif;
    color: rgb(44, 143, 135);
}

.contenedor3 {
    width: 100%;
    max-width: 50rem;
    height: 22rem;
    align-self: center;
    justify-self: center;

    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid rgb(135, 190, 71);
    border-radius: 1rem;

}