.bioma1{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    background-image: url("https://c.wallhere.com/photos/b9/29/Minecraft_video_games_morning_mountain_top_grass_sunlight-2246050.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}