.section-c1{
    width: 100%;
    height: 61.8rem;
    border: 1px solid black;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://c.wallhere.com/photos/a6/bf/Minecraft_shaders_video_games_CGI_cube_trees_bees_flowers-2246230.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.titulo-b1 {
    font-size: 90px;
    color: white;
    font-family: "Shadows Into Light", serif;
}

.titulo2-b1 {
    font-size: 70px;
    color: white;
    font-family: "Shadows Into Light", serif;
}

