.section-b1 {
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://c.wallhere.com/photos/a6/bf/Minecraft_shaders_video_games_CGI_cube_trees_bees_flowers-2246230.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo-b1 {
    font-size: 5vw; 
    color: white;
    font-family: "Shadows Into Light", serif;
    text-align: center; 
    margin: 0;
}

.titulo2-b1 {
    font-size: 4vw; 
    color: white;
    font-family: "Shadows Into Light", serif;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .titulo-b1 {
        font-size: 8vw; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }

    .titulo2-b1 {
        font-size: 6vw; /* Reduce proporcionalmente el tamaño del subtítulo */
    }
}
